@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #272727;
  --white: #fff;
  --primary: #cee002;
  background-color: var(--dark);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.d-flex {
  display: flex;
}

.mr-2 {
  margin-right: 2rem;
}
